{{yield}}
{{#g-map lat=49.2120 lng=-123.0244 zoom=11 as |context|}}
  {{#g-map-marker context lat=49.28737839999999 lng=-123.1288151 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Bubble World Downtown</b></h5>
      <h6>Address: 1325 Robson St, Vancouver, BC V6E 1C6, Canada</h6>
      <h6>Phone:   (604) 434-5551</h6>
      <h6>Hours:   1100-0030</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
  {{#g-map-marker context lat=49.2329488 lng=-123.0331494 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Bubble World Burnaby</b></h5>
      <h6>Address: 3377 Kingsway #2, Vancouver, BC V5R 5K6, Canada</h6>
      <h6>Phone:   (604) 451-7658</h6>
      <h6>Hours:   1100-0200</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
  {{#g-map-marker context lat=49.2513789 lng= -122.8925542 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Bubble World Coquitlam</b></h5>
      <h6>Address: 555 North Rd, Coquitlam, BC V3J7T8, Canada</h6>
      <h6>Phone:   (604) 931-8788</h6>
      <h6>Hours:   1300-0000</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
  {{#g-map-marker context lat=49.2788 lng= -122.9190 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Bubble World SFU</b></h5>
      <h6>8888 University Dr, Burnaby, BC V5A 1S6, Canada</h6>
      <h6>(778) 782-7010</h6>
      <h6>Hours:   1030-1830</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
  {{#g-map-marker context lat=49.2866489 lng= -123.1282783 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Chatime Downtown</b></h5>
      <h6>Address: 1274 Robson St, Vancouver, BC V6E 1C2, Canada</h6>
      <h6>Phone:   (604) 699-9119</h6>
      <h6>Hours:   1100-0030</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
  {{#g-map-marker context lat=449.2638165 lng= -123.1401978 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Chatime Boardway</b></h5>
      <h6>Address: 1545 W Broadway, Vancouver, BC V6J 1W6, Canada</h6>
      <h6>Phone:   (604) 379-7711</h6>
      <h6>Hours:   1100-2300</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
  {{#g-map-marker context lat=49.2246487 lng= -122.9883343 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Chatime Burnaby</b></h5>
      <h6>Address: 5216 Kingsway, Burnaby, BC V5H 3P4, Canada</h6>
      <h6>Phone:   (604) 620-2897</h6>
      <h6>Hours:   1200-2300</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
  {{#g-map-marker context lat=49.154033 lng= -123.123627 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Chatime Richmond</b></h5>
      <h6>Address: 450-9100 Blundell Rd, Richmond, BC V6Y 3X9, Canada</h6>
      <h6>Phone:   (604) 285-2428</h6>
      <h6>Hours:   1100-2300</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
{{#g-map-marker context lat=49.18917709999999 lng= -122.8464159 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Chatime Surrey</b></h5>
      <h6>Address: 10255 King George Blvd, Surrey, BC V3T 2W6, Canada</h6>
      <h6>Phone:   (604) 588-6863</h6>
      <h6>Hours:   1200-2300</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
  {{#g-map-marker context lat=49.1872561 lng= -123.1301656 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Bubble World Richmond</b></h5>
      <h6>Address: 8368 Capstan Way #1318, Richmond, BC V6X 4B4, Canada</h6>
      <h6>Phone:   (604) 285-2428</h6>
      <h6>Hours:   1100-0100</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
  {{#g-map-marker context lat=49.2498455 lng= -122.862484 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>SoulCup</b></h5>
      <h6>Address: A-1071 Ridgeway Ave, Coquitlam, BC, Canada</h6>
      <h6>Hours:   1200-2230</h6>
      <h6>Phone:   (604) 937-3484</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
   {{#g-map-marker context lat=49.284315 lng= -123.114112 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>CoCo Fresh Tea & Juice</b></h5>
      <h6>Address: 609 W Pender St, Vancouver, BC V6B 1W7, Canada</h6>
      <h6>Hours:   1130-2200</h6>
      <h6>Phone:   (604) 336-0929</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
   {{#g-map-marker context lat=49.234508 lng= -123.036219 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>CoCo Fresh Tea & Juice</b></h5>
      <h6>Address: 3275 Kingsway, Vancouver, BC V5R 5K4, Canada</h6>
      <h6>Hours:   1200-2200</h6>
      <h6>Phone:   (604) 620-6255</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
   {{#g-map-marker context lat=49.154827 lng= -123.158068 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>CoCo Fresh Tea & Juice</b></h5>
      <h6>Address: 8100 No 2 Rd #140, Richmond, BC V7C 1H8, Canada</h6>
      <h6>Hours:   1100-2300</h6>
      <h6>Phone:   (604) 447-9090</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
{{/g-map}}