<h1>This is universal too all pages Good example is navbar</h1>

<div class="menu">
  {{#if session.isAuthenticated}}
    <a {{action 'invalidateSession'}}><button>Logout</button></a>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</div>
<div class="main">
  {{outlet}}
</div>

