<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<title>BBT</title>

{{log markers}}

<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="title-bar hide-for-large">
        <div class="title-bar-left">
        </div>
      </div>
    </div>
  </div>
</div>
<div data-sticky-container>
  <div data-sticky data-margin-top='0' data-top-anchor="header:bottom" data-btm-anchor="content:bottom">
    <div class="top-bar topbar-sticky-shrink">
      <div class="top-bar-title">

        <nav class="top-bar topbar-responsive">
          <div class="top-bar-title">
            <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
              <button class="menu-icon" type="button" data-toggle></button>
            </span>
            <a class="topbar-responsive-logo" href="#"></a>
          </div>
          <div id="topbar-responsive" class="topbar-responsive-links">
            <div class="top-bar-right">
              <ul class="menu simple vertical medium-horizontal">
                <li><a href="#">Quest</a></li>
                <li><a href="#">Advertisement from Vendor</a></li>
                <li><a href="#">Registration / Profile</a></li>

              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
  </div>
</div>
{{#g-map lat=49.2120 lng=-123.0244 zoom=11 as |context|}}
  {{#g-map-marker context lat=49.28737839999999 lng=-123.1288151 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>BubbleWorld Downtown</b></h5>
      <h6>1325 Robson St, Vancouver, BC V6E 1C6, Canada</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

  {{#g-map-marker context lat=49.2329488 lng=-123.0331494 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Bubble world Kingsway</b></h5>
      <h6>3377 Kingsway #2, Vancouver, BC V5R 5K6, Canada</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

  {{#g-map-marker context lat=49.2513789 lng= -122.8925542 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Bubble world Coquitlam</b></h5>
      <h6>555 North Rd, Coquitlam, BC V3J7T8, Canada</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

  {{#g-map-marker context lat=49.2790757 lng= -122.7943202 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Bubble world Coquitlam</b></h5>
      <h6>2991 Lougheed Hwy #120, Coquitlam, BC V3B 6J6, Canada</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

  {{#g-map-marker context lat=49.2866489 lng= -123.1282783 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Chatime Downtown</b></h5>
      <h6>1274 Robson St, Vancouver, BC V6E 1C2, Canada</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

  {{#g-map-marker context lat=449.2638165 lng= -123.1401978 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Chatime Boardway</b></h5>
      <h6>1545 W Broadway, Vancouver, BC V6J 1W6, Canada</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

  {{#g-map-marker context lat=49.2246487 lng= -122.9883343 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Chatime Burnaby</b></h5>
      <h6>5216 Kingsway, Burnaby, BC V5H 3P4, Canada</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

  {{#g-map-marker context lat=49.154033 lng= -123.123627 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Chatime Richmond</b></h5>
      <h6>450-9100 Blundell Rd, Richmond, BC V6Y 3X9, Canada</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

{{#g-map-marker context lat=49.18917709999999 lng= -122.8464159 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Chatime Surrey</b></h5>
      <h6>10255 King George Blvd, Surrey, BC V3T 2W6, Canada</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

  {{#g-map-marker context lat=49.1872561 lng= -123.1301656 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>Bubble world Richmond</b></h5>
      <h6>8368 Capstan Way #1318, Richmond, BC V6X 4B4, Canada</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

  {{#g-map-marker context lat=49.2498455 lng= -122.862484 as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
      <h5><b>SoulCup</b></h5>
      <h6>A-1071 Ridgeway Ave, Coquitlam, BC, Canada</h6>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
{{/g-map}}

  <br />

<div class="row small-up-1 medium-up-1 large-up-1">

  <div class="rounded-social-buttons">
    <a class="social-button facebook" href="#"></a>
    <a class="social-button twitter" href="#"></a>
    <a class="social-button instagram" href="#"></a>
    <a class="social-button google-plus" href="#"></a>
  </div>
  <div class="column">

  </div>
</div>

<div class="column">
  <img class="thumbnail" src="http://placehold.it/2000x900">
  <h5>Advertisments</h5>
</div>

<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPAhtVsZuWPruwWetDGeOhPXRNyK2zRiQ&libraries=places">
</script> -->