<h2>Users</h2>

{{#each users as |user|}}
  Name: {{user.name}} <br />
  Age: {{user.age}} <br />
  Email: {{user.email}}
{{/each}}

<form>
  {{input type='text' value=userEmail placeholder='email'}}
  <button type='submit'>Sign up</button>
</form>