
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<title>BBT</title>

<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="title-bar hide-for-large">
        <div class="title-bar-left">
        </div>
      </div>
    </div>
  </div>
</div>


<center class="mapbox">
  {{bubbletea-map}}
</center>
<br />
<div class="row small-up-1 medium-up-1 large-up-1">
  <div class="rounded-social-buttons">
    <a class="social-button facebook" href="#"></a>
    <a class="social-button twitter" href="#"></a>
    <a class="social-button instagram" href="#"></a>
    <a class="social-button google-plus" href="#"></a>
  </div>
  <div class="column">
  </div>
</div>

<center>
  <div>
    {{ad-slider}}
  </div>
</center>

