
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<title>BBT</title>

<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="title-bar hide-for-large">
        <div class="title-bar-left">
        </div>
      </div>
    </div>
  </div>
</div>

<div data-sticky-container>
  <div data-sticky data-margin-top='0' data-top-anchor="header:bottom" data-btm-anchor="content:bottom">
    <div class="top-bar topbar-sticky-shrink">
      <div class="top-bar-title">
        <nav class="top-bar topbar-responsive">
          <div class="top-bar-title">
            <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
              <button class="menu-icon" type="button" data-toggle></button>
            </span>
            <a class="topbar-responsive-logo" href="#"></a>
          </div>
          <div id="topbar-responsive" class="topbar-responsive-links">
            <div class="top-bar-right">
              <ul class="menu simple vertical medium-horizontal">
                <li><a href="#">Quest</a></li>
                <li><a href="#">Advertisement from Vendor</a></li>
                <li><a href="#">Registration / Profile</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<form>
  Reservation name:<br>
  <input type="text" name="Name" placeholder="Name"><br>
  Phone number for confirmation:<br>
  <input type="text" name="Phone" placeholder="Format: xxx-xxx-xxxx"><br>

  Bubble Tea Cafe Reservation list
  <select name="Cafe">
    <option value="Bubble World Downtown">Bubble World Downtown</option>
    <option value="Bubble World Vancouver">Bubble World Vancouver</option>
    <option value="Bubble World Coquitlam">Bubble World Coquitlam</option>
    <option value="Bubble World Burnaby">Bubble World Burnaby</option>
    <option value="Bubble World Richmond">Bubble World Richmond</option>
    <option value="Bubble World SFU">Bubble World SFU</option>
    <option value="Chatime Downtown">Chatime Downtown</option>
    <option value="Chatime Boardway">Chatime Boardway</option>
    <option value="Chatime Burnaby">Chatime Burnaby</option>
    <option value="Chatime Richmond">Chatime Richmond</option>
    <option value="Chatime Surrey">Chatime Surrey</option>
    <option value="SoulCup">SoulCup</option>
    <option value="CoCo Downtown">CoCo Fresh Tea & Juice Downtown</option>
    <option value="CoCo Vancouver">CoCo Fresh Tea & Juice Vancouver</option>
    <option value="CoCo Richomnd">CoCo Fresh Tea & Juice Richomnd</option>
  </select>

  Number of Guest :
  <label for="num_guest"></label><input id="num_guest" type="number" min="1" max="20" step="1" value ="2"/>
  Reservation Date:
  <label for="Reservation date"></label><input id="Reservation" type="date" value="2017-09-21"/>
  Reservation Time:
  <select name="time">
    <option value="12:00 PM">12:00 PM</option>
    <option value="12:30 PM">12:30 PM</option>
    <option value="1:00 PM">1:00 PM</option>
    <option value="1:30 PM">1:30 PM</option>
    <option value="2:00 PM">2:00 PM</option>
    <option value="2:30 PM">2:30 PM</option>
    <option value="3:00 PM">3:00 PM</option>
    <option value="3:30 PM">3:30 PM</option>
    <option value="4:00 PM">4:00 PM</option>
    <option value="4:30 PM">4:30 PM</option>
    <option value="5:00 PM">5:00 PM</option>
    <option value="5:30 PM">5:30 PM</option>
    <option value="6:00 PM">6:00 PM</option>
    <option value="6:30 PM">6:30 PM</option>
    <option value="7:00 PM">7:00 PM</option>
    <option value="7:30 PM">7:30 PM</option>
    <option value="8:00 PM">8:00 PM</option>
    <option value="8:30 PM">8:30 PM</option>
    <option value="9:00 PM">9:00 PM</option>
    <option value="9:30 PM">9:30 PM</option>
    <option value="10:00 PM">10:00 PM</option>
    <option value="10:30 PM">10:30 PM</option>
    <option value="11:00 PM">11:00 PM</option>
    <option value="11:30 PM">11:30 PM</option>
    <option value="12:00 AM">12:00 AM</option>
  </select>
</form>



<button type="submit">Submit</button>


{{bubbletea-map}}
<br />
<div class="row small-up-1 medium-up-1 large-up-1">
  <div class="rounded-social-buttons">
    <a class="social-button facebook" href="#"></a>
    <a class="social-button twitter" href="#"></a>
    <a class="social-button instagram" href="#"></a>
    <a class="social-button google-plus" href="#"></a>
  </div>
  <div class="column">
  </div>
</div>
<div class="container-ad">
{{ad-slider}}
</div>